/* This is the minefield container */
.jQueryMinefield.default .minefield {
	float:left;
	border:10px solid blue;
}

/* This is a mine/block in the minefield */
.jQueryMinefield.default .minefield DIV {
	width: 23px;
	height: 23px;
	padding:1px;
	border: 1px solid black;
	background: blue;
	float:left;
	font-size:12px;
}
.jQueryMinefield.default .minefield DIV.first {
	clear:left;
}
.jQueryMinefield.default .minefield DIV.revealed {
	background:#666;
}
.jQueryMinefield.default .minefield DIV.cleared {
	background:#fff;
}
.jQueryMinefield.default .minefield DIV.mine {
	background:#fff url(images/MinesweeperSprite.png) no-repeat -75px 0;
}
.jQueryMinefield.default .minefield DIV.explosion {
	background:#fff url(images/MinesweeperSprite.png) no-repeat -47px 0;
}
.jQueryMinefield.default .minefield DIV.flagged {
	background:#fff url(images/MinesweeperSprite.png) no-repeat 3px -1px;
}
.jQueryMinefield.default .minefield DIV.question {
	background:#fff url(images/MinesweeperSprite.png) no-repeat -22px -2px;
}